.profile {
  background: #f5f5fb;
  margin: 0 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.heads {
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0;
}

.headingMain {
  color: #ff808b;
  font-size: 1.2rem;
}

.headPic {
  background: #f7e5e9;
  height: 18%;
  border-radius: 17px;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem 0 0;
  margin: 0 1rem;
}

.headImg {
  position: relative;
  height: 10rem;
  bottom: 1.1rem;
}

.latestReults,
.timeSpent {
  flex: 1;
  margin: 1rem;
  border-radius: 10px;
  background: var(--white);
}

.results {
  padding: 1rem 0;
}

.badges {
  justify-content: space-between;
}

.searchBar {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 1rem;
  background: #f7e5e9;
}
