.logout_header {
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
}

.logout_logo {
  width: 1.5rem;
  height: 1.5rem;
}

.status_online {
  right: 9rem;
}

.badge_status {
  padding: 0.5rem;
}

.icon_lg {
  height: 8rem;
  width: 8rem;
}

.status_online {
  background: #5e81f4;
}

.icon_add {
  position: relative;
  bottom: 10px;
  right: 4.5px;
  color: white;
}

.user_about {
  color: #a2a2c2;
}

.user {
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 3rem 0;
}
