.language{
    justify-content: space-between;
    padding: 0.5rem 4.5rem;
    align-items: center;
}

.small_text{
    color: #A2A2C2;
}

.lang_section{
    align-items: center;
}

.langs{
    margin-left: 1rem;
}