.sidebar {
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 0;
}

.intro {
  align-items: center;
  padding-left: 24px;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.badge_sm {
  left: 0.4rem;
}

.btn {
  margin-left: 24px;
  border-radius: 5px;
}

.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
}

.menuTabs {
  margin: 2rem 0;
}

.ant-tabs-tab-btn {
  color: #a8abce;
}
